body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 0.8em;
}

div.map {
	float: left;
}

div.form {
	width: 380px;
	float: left;
}

form.params {
	padding: 12px 0px 12px 12px;
}

form.params li{
	list-style: none;
	padding-bottom: 4px;
}

form.params label {
	width: 140px;
	display: inline-block;
}

form.params input[type="text"], form input[type="number"] {
	width: 50px;
}

form.params select {
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px
}

form.params select {
	width: 160px;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10000;
 }

 #modalWindow {
	 width: 260px;
	 height: 110px;
	 position: relative;
	 background-color: rgb(255, 255, 255);
	 border: 1px solid rgb(100, 100, 100);
	 border-radius: 6px;
	 padding: 20px 30px;
	 z-index: 10001;
 }

 #modalWindow textarea {
	 width: 100%;
	 height: 80px;
 }

 #modalWindow button {
	 width: 80px;
	 margin-right: 10px;
 }

 #modalWindow2 {
 	width: 277px;
 	height: 22px;
 	position: relative;
 	background-color: rgb(255, 255, 255);
 	border: 1px solid rgb(100, 100, 100);
 	border-radius: 3px;
 	padding: 5px;
 	z-index: 10001;
 }

 #modalWindow2 input {
	 width: 150px;
 }

 #modalWindow2 button {
 	width: 60px;
	margin-left: 1px;
 }

.leaflet-control-window div.button {
	border: 1px solid '#333' !important;
}

.jumpControlContainer {
	margin: 10px 0px 0px 10px;
	background-color:
}

.jumpControl {
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.drawControlContainer {
  background-color: rgba(255, 255, 255, 0.6);
  padding-right: 6px;
}

.drawControl {
  margin: 6px 0px 6px 6px;
  background: white;
  text-align: center;
  padding: 3px 12px;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  display: inline-block;
}

.drawControl.working {
  background-color: rgb(245, 222, 179);
}
